#nav {
	position: relative:
}
.main-title {
    	color: #222;
    	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	position: absolute;
	left: 0%;
	top: 0%;
}

.main-links {
    	color: black;
    	font-size: 10px;
    	font-weight: bold;
    	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    	margin-bottom: 50px;
    	text-decoration: none;
    	padding: 5px;
	position: absolute;
	right: 0px;
}

