{% extends "headers.html" %}
{% block content %}
	<div>
		<img src="/static/images/ourstoryfullwithbanner/OurLoveStoryTitlePage.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide1.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide2.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide3.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide4.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide5.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide6.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide7.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide8.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide9.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide11.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide12.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide13.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide14.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide15.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide16.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide17.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide18.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide19.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide20.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide21.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide22.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide23.jpg" class="w-det-img">
		<img src="/static/images/ourstoryfullwithbanner/slide24.jpg" class="w-det-img">
	</div>
{% endblock %}
