<!DOCTYPE html>
<html>
	<head>
		<title>Chanel x Kenney</title>
	</head>
	<body>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
			<div id="header">
				<br>
				<div class="div-title">
					<a href="/" class="main-title"><img src="/static/images/weddingLogo2.png" width=35%></a>
				</div>
				<div class="div-links">
					<a href="/" class="main-links">Home</a>
					<a href="/about" class="main-links">Our Story</a>
					<a href="/WeddingParty" class="main-links">Wedding Party</a>
					<a href="/WeddingDetail" class="main-links">Wedding Details</a>
					<a href="/Photos" class="main-links">Photos</a>
					<a href="/blog" class="main-links">Blog</a>
					<a href="/Registray" class="main-links">Registry</a>
					<a href="/RSVP" class="main-links">RSVP</a>
				</div>
			</div>
			<div id="body">
				{% block content %}
				{% endblock %}
			</div>
			<div id="footer">
					<div class="social_footer">
						<br><div class="s_f_text">#ChanelKenneyWedding2015</div>
						<div class="s_f_logo">
						<img src="http://www.galleriavittoria.com/images/social/instagram.gif" width=50px>
						</div>
					</div>
					<div class="h_footer">
					<br>
					<img src="/static/images/weddingLogo2.png" height=80px>
					<br><em>© 2015</em>
					<br>
					</div>
			</div>
</html>
