<!DOCTYPE html>
<html>
<head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
	<div id="nav">
		<title>Chanel x Kenney</title>
		<br>
		<a href="/" class="main-links">Home</a>
		<a href="/about" class="main-links">Our Story</a>
		<a href="/WeddingParty" class="main-links">Wedding Party</a>
		<a href="/WeddingDetail" class="main-links">Wedding Details</a>
		<a href="/" class="main-title">Chanel x Kenney</a>
		<a href="/Photos" class="main-links">Photos</a>
		<a href="/blog" class="main-links">Blog</a>
		<a href="/Registray" class="main-links">Registray</a>
		<a href="/RSVP" class="main-links">RSVP</a>
	</div>
</head>
{% block content %}
{% endblock %}
</html>
