{% extends "headers.html" %}
{% block content %}
	<div>
		<img src="/static/images/photoscopy2.jpg" class="main-img">
	</div>
	<center>
	<div class="photo-page">
		<img src="/static/images/Photo/chanel_kenny_049.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_062.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_013.jpg" class="photo-type-1">
		
		<img src="/static/images/Photo/chanel_kenny_012.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_006.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_018.jpg" class="photo-type-1">

		<img src="/static/images/Photo/chanel_kenny_085h.jpg" class="photo-type-2">
		<img src="/static/images/Photo/chanel_kenny_074.jpg" class="photo-type-2">

		<img src="/static/images/Photo/chanel_kenny_064.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_076.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_093.jpg" class="photo-type-1">

		<img src="/static/images/Photo/chanel_kenny_125.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_122.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_150.jpg" class="photo-type-1">

		<img src="/static/images/Photo/chanel_kenny_166.jpg" class="photo-type-2">
		<img src="/static/images/Photo/chanel_kenny_105h.jpg" class="photo-type-2">

		<img src="/static/images/Photo/chanel_kenny_178.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_222.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_237.jpg" class="photo-type-1">

		<img src="/static/images/Photo/chanel_kenny_251.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_242.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_256.jpg" class="photo-type-1">
		
		<img src="/static/images/Photo/chanel_kenny_321h.jpg" class="photo-type-2">
		<img src="/static/images/Photo/chanel_kenny_293.jpg" class="photo-type-2">
		
		<img src="/static/images/Photo/chanel_kenny_275.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_327.jpg" class="photo-type-1">
		<img src="/static/images/Photo/chanel_kenny_294.jpg" class="photo-type-1">

		<img src="/static/images/Photo/chanel_kenny_279h.jpg" class="photo-type-3">
	</div>
	<p style="color: DarkGoldenRod">Photos taken by <a href="http://thismodernromance.com/">This Modern Romance</a>.<br>Thank you <a href="http://instagram.com/thismodernromance">Stephanie Williams</a> for an unforgettable adventure around Point Reyes!<br><br></p>
	</center>
{% endblock %}
