{% extends "headers.html" %}
{% block content %}
	<div>
		<img src="/static/images/registraybanner.jpg" class="main-img">
	</div>
	<div>
	<center>
	<table>
	<tr>
		<td>
		<p class="w-det-text" style="font-size:160%;">
		Kenney and I have decided not to register for gifts because<br>
		our 900 square foot condo can’t fit anymore stuff.  In lieu <br>
		of gifts, we’ve set up a Honeymoon Paypal account.  We’ll be <br>
		exchanging it for the Euro on our trip to Greece and Spain!  <br>
		You can contribute via Paypal by sending it to <br>
		<br>
		ken.Lloren@gmail.com <br>
		<br>
		Or send a check to: <br>
		<br>
		175 W. Saint James St. Unit 111<br>
		San Jose, CA 95110<br>
		<br>
		Contributing to our Honeymoon registry account is completely <br>
		optional.  <br>
		<br>
		</p>
		<p class="w-det-text" style="font-size:160%;text-align:right">
		Gracias and σας ευχαριστώ!<br>
		Chanel and Kenney
		</p>
	</table>
	</center>
	</div>
{% endblock %}
