{% extends "headers.html" %}
{% block content %}
	<div>
		<img src="/static/images/registraybanner.jpg" class="main-img">
	</div>
	<div>
	<center>
	<table>
	<tr>
		<td>
		<p class="w-det-text" style="font-size:160%;">
		Kenney and I have decided not to register because our 900 sq. ft.<br>
		condo can’t fit any more stuff.  In lieu of gifts, we've set up a<br>
		Honeymoon account.  We’ll be exchanging it for the Euro on our trip<br> 
		to Greece and Spain!<br>  <br>

		You can contribute via Paypal by sending it to <b>ken.lloren@gmail.com</b>. <br> <br>
		Or send a check to:<br><b>
		&nbsp&nbsp&nbsp&nbsp175 W. Saint James St. #111<br>
		&nbsp&nbsp&nbsp&nbspSan Jose, CA 95110<br><br></b>
		Contributing to our Honeymoon registry account is completely optional. <br>
		<br>
		</p>
		<p class="w-det-text" style="font-size:160%;text-align:right">
		Gracias and σας ευχαριστώ in advance!<br>
		Love Chanel and Kenney
		</p>
	</table>
	</center>
	</div>
{% endblock %}
