{% extends "headers.html" %}
{% block content %}
	<div>
		<img src="/static/images/WeddingPartyBanner.jpg" class="main-img">
	</div>
	<br>
	<center>
	<h1 class="w_det">Bridesmaids</h1>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Karisa.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Karisa – Maid of Honor</b><br><br>
		Beautiful inside and out is exactly how I would describe her.  When we were little, I used to copy her every move and sing at the top of my lungs as she tried to change the radio station to a song I didn’t know.  Even though I was an annoying younger sister, she was still sweet to me. For example, when she let me break the rules and sleep with her on the top bunk of our bunk beds every now and then.  My favorite memory comes from our sisters’ trip to the Caribbean when it was just us chatting and catching up on our private balcony in our PJ’s.  This moment and other simple moments on that trip got us closer than ever before.  Now we can turn to each other for anything. She gives great advice, has peoples’ best interest at heart, and comes up with the most unique ideas for throwing surprises.  I look up to her sassy personality and bravery.  I am honored to have my one-and-only sister by my side.  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Helen – Matron of Honor</b><br><br>
We became friends after meeting on the second day of our junior year of high school.  We’d go everywhere and do everything together, from studying, sleeping over at each others’ houses, and playing arcade games on the strip past curfew.  My most memorable moments with Helen would be when she visited me in New York just after I moved.  We packed the schedule with baseball games and comedy shows, exploring every borough practically.  Being adventurous sums up her spirit.  I look up to her thoughtfulness, noticing when someone is left out and will make sure they feel included.  I’m proud of all her dedication towards pursuing her dreams.  I stood next to her on her wedding day and I’m happy she’ll be there for mine. 		</td>
		<th>
			<img src="/static/images/WeddingParty/Helen.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Coral.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Coral – Bridesmaid</b><br><br>
		Coral and I met at work as Production Assistants on a show.  One of the first things I thought about her was man, this girl is a badass.  She had this way of getting right to the point and checking things off the list in a no-nonsense sort of way.  I’ve always looked up to her confident attitude.   Coral is a natural planner and it’s one of the things I love most about her.  My favorite memories with her include me braiding her hair at the end of the workday before she headed to her soccer game.  Also, all the late nights at work watching Teen Mom in her cube to pass the time.  My wedding party wouldn’t be the same without Coral being there.  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Angeli – Bridesmaid</b><br><br>
I’ve known Angeli the longest because we’ve been friends since the third grade.  I always say we were fated to be friends forever because we lost touch after elementary school and reconnected again in high school through Kenney.  Angeli values her faith, friendships, and family by holding them close to her heart.  I look up to her because she’s a dependable friend who will always be there for you when you need.  I was one of her bridesmaids and being apart of her wedding meant so much to me.  Especially during her bachelorette festivities, for so many reasons that I cannot share (wink!).  One things for sure, Angeli knows how to spice up a party.  I am lucky to be able to call Angeli a good friend for life!
 		</td>
		<th>
			<img src="/static/images/WeddingParty/Angeli.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Iris.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Iris – Bridesmaid</b><br><br>
		I met Iris through her husband Andy, whom I went to High School with.  Chic and artsy are the two words I would use to describe her. She has an eye for design and a talent for decorating.  I look up to Iris’ lightheartedness because she knows when to let loose and have fun.   Some of my favorite memories of her are of us getting ready to go out and she’ll say something so random that I will laugh so hard my stomach hurts.  Whenever you’re with her you’re always smiling.  Iris will be traveling all the way from Macau just to be apart of our wedding day.  I am beyond grateful that she (and her adorable dimples) will be there.  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Heather – Bridesmaid</b><br><br>
Heather and I met as colleagues on a 100 Greatest series show. One of the first things I noticed about her was that her hair and makeup were always perfect.  She never had a bad hair day!  Heather and I were roomies for a few months and during that time we did Trader Joe’s grocery shopping trips and weekend Oprah 25th Anniversary show marathons.  She made me feel right at home and lent an ear for me to vent to if I had a bad day.  The memory that I hold most dear was during my Atlantic City going away trip before my move to San Francisco.  It was a rough time because I was leaving my job and friends like her behind.  At one point during the night she pulled me aside and simply said, “You’re making the right decision by moving.”  It was just what I needed to hear. She’s one of those people that knows just what to say at exactly the right time.  I look up to her wit and independence.  I am so happy that I’ll have my southern charm with me on my wedding day!
		</td>
		<th>
			<img src="/static/images/WeddingParty/Heather.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Ashley.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Ashley – Bridesmaid</b><br><br>
		Literally the first words I said to Ashley when we met were, “You have the best shaped eyebrows.”  Hey, it was true!  One of my memorable moments with Ashley would be our morning chats going over her wedding plans.  We were the first two people to arrive at work on most days so we had that time just us two to talk as I munched on my morning bagel and she sipped her Dunkin' Donuts iced coffee.  Ashley invited me to her in-laws house for Christmas one year and her family made me feel so welcome, as if I was another member of the family.  They have this gift exchange tradition and they got me gifts too so that I wouldn’t feel left out.  I was touched by Ashley and her families kindness.  Ashley is such a hardworking person with the biggest heart for everyone, especially animals.  I look up to her determination to never give up.  I am blessed to have Ashley as one of the gals in my wedding party!  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Shelby – Bridesmaid</b><br><br>
Shelby and I were colleagues that over time turned into friendship.  She and I rarely worked on the same shows but our cubes were close enough where she could fling rubber bands at me.  Shelby is very creative.  She writes songs, blog posts, is a member of a NYC dance group, and always thinks up the funniest birthday poems.  Shelbys' apartment was the meeting place for all of our group gatherings and parties because she's a fantastic host.  You can’t walk down the street and pass a dog (especially a big one) without her stopping to pet it.  I look up to her sarcastic humor and unique sense of style. I’m excited that Shelby is one of my bridesmaids. Not just because she’ll be at the wedding, but because it’ll be a full fledged Buh-Jew reunion!
		</td>
		<th>
			<img src="/static/images/WeddingParty/Shelby.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<h1 class="w_det">Groomsmen</h1>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Karisa.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Joey – Best Man</b><br><br>
		Beautiful inside and out is exactly how I would describe her.  When we were little I used to copy her every move and sing at the top of my lungs as she tried to change the radio station to a song I didn’t know.  Even though I was a very annoying younger sister she was still sweet to me, like when she let me break the rules and sleep with her on the top bunk of our bunk beds every now and then.  My favorite memory comes from our sisters’ trip to the Caribbean when it was just us chatting and catching up on our private balcony in our PJ’s.  This moment and other simple moments on that trip got us closer than ever before.  Now we can turn to each other for anything. She gives the best advice, has peoples’ best interest at heart, and comes up with the best ideas when it comes to surprises.  I look up to her sassy personality and bravery.  I am honored to have my one-and-only sister by my side.  I love you. 	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Bryan - Groomsman</b><br><br>
We became friends after meeting on the second day of our junior year of high school.  We’d go everywhere and do everything together, from studying, sleeping over at each others’ houses, and playing arcade games on the strip past curfew.  My most memorable moments with Helen would be when she visited me in New York just after I moved.  We packed the schedule with baseball games and comedy shows, exploring every borough practically.  Being adventurousness sums up Helen’s spirit.  I look up to her thoughtfulness, noticing when someone is left out and will make sure they feel included.  I’m proud of all her dedication towards pursuing her dreams.  I stood next to her on her wedding day and I’m happy she’ll be there for mine. 		</td>
		<th>
			<img src="/static/images/WeddingParty/Helen.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Coral.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Josh - Groomsman</b><br><br>
		Coral and I met at work as Production Assistants.  One of the first things I thought about her was man, this girl is a badass.  She had this way of getting right to the point and checking things off the list in a no-nonsense sort of way.  I’ve always looked up to her confident attitude.   Coral is a natural planner and it’s one of the things I love most about her.  My favorite memories with her include me braiding her hair at the end of the workday before she headed to her soccer game.  Also, all the late nights at work watching Teen Mom in her cube to pass the time.  My wedding party wouldn’t be the same without Coral being there.  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Jon Jon - Groomsman</b><br><br>
I’ve known Angeli the longest because we’ve been friends since the third grade.  I always say we were fated to be friends forever because we lost touch after elementary school and reconnected again in high school through Kenney.  Angeli values her faith, friendships, and family by holding them very close to her heart.  I look up to her because she’s such a dependable friend who will always be there for you when you need.  I was one of her bridesmaids and being apart of her party was so much fun, especially the bachelorette party.  One things for sure, Angeli knows how to spice up a party.  I am lucky to be able to call Angeli a good friend for life!
 		</td>
		<th>
			<img src="/static/images/WeddingParty/Angeli.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Iris.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Andy – Groomsman</b><br><br>
		I met Iris through her husband Andy, whom I went to High School with.  Chic and artsy are the two words I would use to describe her. She has an eye for design and a talent for decorating.  I look up to Iris’ lightheartedness because she knows when to let loose and have fun.   Some of my favorite memories of her are of us getting ready to go out and she’ll say something funny that I’ll laugh so hard my stomach hurts.  Whenever you’re with her you’re always smiling.  Iris will be traveling all the way from Macau just to be apart of our wedding day.  I am beyond grateful that she (and her adorable dimples) will be there.  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Jason - Groomsman</b><br><br>
Heather and I met as colleagues on a 100 Greatest series show. One of the first things I noticed about her was how her hair and makeup were always perfect.  She never had a bad hair day!  Heather and I were roomies for a few months and during that time we did Trader Joe’s grocery shopping trips and weekend Oprah 25th Anniversary show marathons.  She made me feel right at home and lent an ear for me to vent to if I had a bad day.  The memory that I hold most dear was during my Atlantic City going away trip before my move to San Francisco.  It was a rough time because I was leaving my job and friends like her behind.  At one point during the night she pulled me aside and simply said, “You’re making the right decision by moving.”  It was just what I needed to hear. She’s one of those people that knows just what to say at just the right time.  I look up to her wit and independence.  I am so happy that I’ll have my southern charm with me on my wedding day!
		</td>
		<th>
			<img src="/static/images/WeddingParty/Heather.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<th>
			<img src="/static/images/WeddingParty/Ashley.jpg" class="wp-img">
		</th>
		<td align="justify">
		<b>Lam - Groomsman</b><br><br>
		Literally the first words I said to Ashley when we met were, “You have the best shaped eyebrows.”  Hey, it was true!  One of my memorable moments with Ashley would be our morning chats going over her wedding plans.  We were the first two people to arrive at work on most days so we had that time just us two to talk about anything.  Ashley invited me to her in-laws house for Christmas one year and her family made me feel so welcomed, like I was another member of the family.  They have this gift exchange tradition and so that I wouldn’t feel left out, they got me presents too.  I was really touched by their kindness.  Ashley is such a hardworking person with the biggest heart for everyone, especially animals.  I look up to her determination to never give up.  I am so blessed to have Ashley as one of the gals in my wedding party!  	
		</td>
		</tr>
	</table>
	<table style="margin:0px 50px">
		<tr>
		<td align="justify">
		<b>Brian - Groomsman</b><br><br>
Shelby and I were colleagues that over time turned into friendship.  She and I rarely worked on the same shows but our cubes were close enough where she could fling rubber bands at me.  Shelby is very creative.  She writes songs, blog posts, is a member of a NYC dance group, and always thinks up the funniest birthday poems.  Shelby’s apartment was always the meeting place for all our group gatherings and she’s one good host.  She’s very generous and one of the most down to earth person I’ve ever met.  You can’t walk down the street and pass a dog (especially a big one) without her stopping to pet it.  I look up to her sarcastic humor and unique sense of style. I’m excited that Shelby is one of my bridesmaids. Not just because she’ll be at the wedding, but because it’ll be a full fledged Buh-Jew reunion!
		</td>
		<th>
			<img src="/static/images/WeddingParty/Shelby.jpg" class="wp-img">
		</th>
		</tr>
	</table>
	</center>


{% endblock %}
