{% extends "headers.html" %}
{% block content %}
		<div>
			<img src="/static/images/WeddingDetailBanner.jpg" class="w-det-img">
		</div>
		<br>
		<div align="center">
		<table>
			<tr>
			<th><center>
			<br><h1 class="w_det">Sunday July 5th, 2015<br>
			@ 04:30 PM (Pacific)</h1>
			</center></th>
			</tr>
			<tr>
			<td>
				<p class="w-det-text">
				The ceremony will take place underneath the oak tree followed by a<br>
				cocktail hour. The reception is inside the Asistencia (barn) where<br>
				there will be food, speeches, and lots and lots of dancing!
				<br><br>
				</p>
			</td></tr>
		</table>
		</div>
		<div>
			<img src="/static/images/venue.jpg" class="w-det-img">
		</div>
		<br>
		<div>
			<center>
			<table>
				<tr>
					<h1 class="w_det">Address</h1>
				</tr>
				<tr>
					<p class="w-det-text">
					<b>Santa Margarita Ranch</b><br>
					<i>9000 Yerba Buena Avenue<br>
					Santa Margarita, CA 93453</i>
					<br>
					</p>
				</tr>
				<tr>
				<center><h1 class="w_det">Directions</h1></center>
				</tr>
				<tr><td>
					<p class="w-det-text">
					The wedding venue is located in San Luis Obispo.  A common nickname<br> 
					for San Luis Obispo is SLO.  You can arrive at SLO by plane or car.<br> 
					Please see more detailed directions below.<br>
					</p> 
					<br><br>
				</td></tr>
			</table>
			</center>
		</div>

		<div>
		<center>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6504.571795394464!2d-120.61145063543881!3d35.39816337933425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ecec2587c2cd3f%3A0xadf4b953d66dc0d4!2s9000+Yerba+Buena+Ave%2C+Santa+Margarita%2C+CA+93453!5e0!3m2!1sen!2sus!4v1420873588677" width="700" height="250" frameborder="0" style="border:0"></iframe>
		</center><br><br>
		</div>
		<center>
		<table>
			<tr>
				<th>
				<h2 class="w_det">Plane</h2>
				</th>
				<th>
				</th>
				<th>
				<h2 class="w_det">Car</h2>
				</th>
			</tr>
			<tr>
				<td valign="top">
				<p class="w-det-text">
				The local airport in SLO is San Luis Obispo<br>
				County Regional Airport. The airport code<br> 
				for airline searches (Kayak, Expedia,<br> 
				Travelocity, etc.) is <b>SBP</b>. The commercial<br>
				regional carriers for this airport are US<br> 
				Airways and United. The airport is 13.9 miles<br>
				away from Santa Margarita Ranch (wedding<br> 
				venue). This is approximately a 20 minute<br> 
				drive. Once you arrive, take the CA-227 N/Broad<br> 
				St and Osos St. to US-101 N. Follow the US<br> 
				101-N to CA-58 E. Take the CA-58 exit from<br>
				US-101 N. Continue on CA-58E. Drive to Yerba<br> 
				Buena Ave. and turn left. You will enter the<br> 
				ranch and follow the pathway until you reach<br> 
				the parking area near the barn.
				</p>
				</td>
				<td width="5%"></td>
				<td valign="top">
				<p class="w-det-text">
				<b><i>FROM LOS ANGELES:</i></b> 199 mi/Approx 3 hrs<br>
				Take US-101 N until merging onto CA-58 E<br> 
				toward Santa Margarita Ranch. Drive to Yerba<br> 
				Buena Avenue and turn left onto the ranch.<br> 
				Drive down the long path until you arrive at<br>
				the venues’ parking lot.<br><br>
				<b><i>FROM SAN FRANCISO:</i></b> 224 mi/Approx 3.5 hrs<br>
				Take US-101 S towards San Jose. Take the<br> 
				CA-58 exit toward Santa Margarita. Merge<br> 
				onto El Camino Real. Turn left onto Yerba<br> 
				Buena. Drive down the long path until you<br> 
				arrive at the venues’ parking lot. 	
				</p>
				</td>
			</tr>
		</table>
		</center><br><br>
		<div>
			<img src="/static/images/wheretostay.jpg" class="w-det-img">
		</div>

		<center>
		<table>
			<tr><td>
			<p class="w-det-text">
			<br><br>
			There’s a wide variety of lodging accommodations in SLO County, from<br>
			quaint Bed and Breakfasts to chic boutique hotels. The website for<br>
			the "Visit San Luis Obispo" has additional information and special<br>
			offers for hotels: 	
			<a href="http://www.visitsanluisobispocounty.com/lodging">SLO lodging</a>
			</p>
			</td></tr>
			<tr>
				<th>
				<h2 class="w_det">Madonna Inn</h2>
				</th>
			</tr>
			<tr>
				<td>
				<p class="w-det-text">
				Located 15 minutes (12 miles) from the venue.  We have rooms blocked<br>
				for guests who would like to stay here so mention the Bujadham-Lloren<br>
				wedding when booking your stay.  Unfortunately, because this weekend<br>
				is a holiday no discounts are offered.  The wedding party will be<br>
				staying here from Friday July 3rd until Monday July 6th.<br><br> 
				</p>
				<center>
				<p class="w-det-text">
				100 Madonna Road<br>
				San Luis Obispo, CA 93405<br>
				Phone: (805) 543-3000<br>
				</p></center>
				</td>
			</tr>
		</table>
		</center>
		<br><br>
		<div>
			<img src="/static/images/whattodo.jpg" class="w-det-img">
		</div>
		<div align="center">
		<table>
			<tr><td>
			<p class="w-det-text">
			<br><br>
			San Luis Obispo was named one of the nations Best Adventure Towns by<br>
			National Geographic.  So whether your adventure leads you to relaxing<br> 
			on the beach, breaking a sweat on a hiking trail, tasting the grapes<br>
			at a winery, or playing a round on the golf course, SLO has it all!  
			<br><br>
			</p>
			</td></tr>
			<tr><th><center>
			<h2 class="w_det">Eat</h2>	
			</center></th></tr>
		</table>
		</div>
		<center>
		<table class="dets-body-tbl">
			<tr>
				<td>
				<p class="w-det-text">
				<b>Firestone Grill($)</b><br>
				<i>1001 Higuera St, Ste A,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 783 - 1001<br>
				Type: Barbeque, American<br>
				Reviewers highly recommend the<br>
				tri-tip sandwich with a basket<br> 
				of fries or onion rings.
				</p>
				</td>
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>Petra($)</b><br>
				<i>1210 Higuera St,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 439 - 1999<br>
				Type: Mediterranean, Pizza<br>
				Reviewers recommend the hummus,<br>
				homemade pita bread, chicken<br>
				schwarma, and cucumber yogurt salad.
				</p>	
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>Goshi Japanese Restaurant($$)</b><br>
				<i>570 Higuera St Ste 20,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 543-8942<br>
				Type: Sushi Bar, Japanese<br>
				Reviewers recommend the<br>
				seaweed salad, Uni Sashimi,<br>
				and Gyu Don.
				</p>	
				</td>
			</tr>
		</table>
		<h2 class="w_det">Drink</h2>	
		<table class="dets-body-tbl">
			<tr>
				<td>
				<p class="w-det-text">
				<b>Granada Hotel and Bistro($$)<br></b>
				<i>1126 Morro St.,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 544 - 9110<br>
				Type: Wine Bar
				</p>
				</td>
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>Luis Wine Bar($$)<br></b>
				<i>1021 Higuera St.,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 762 – 4747<br>
				Type: Wine Bar
				</p>
				</td>
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>McCarthy’s Iris Pub($)<br></b>
				<i>600 Marsh St.,<br>
				San Luis Obispo CA 93401</i><br>
				Tel: (805) 544 – 0268<br>
				Type: Pub
				</p>
				</td>
			</tr>
		</table>
		<h2 class="w_det">Play</h2>
		<table class="dets-body-tbl">
			<tr>
				<td>
				<p class="w-det-text">
				<b>Beaches</b><br>
				Put your sunblock on before heading<br>
				out to one of the several beaches<br> 
				located in San Luis Obispo.  Click on<br> 
				the following link for a guide to all<br> 
				the beaches:  
				<a href="http://www.sanluisobispovacations.com/things-to-do/beaches/">SLO Beaches</a>
				</p>
				</td>
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>Trail</b><br>
				Lace up your tennis shoes before<br>
				heading out to explore the beautiful<br> 
				places that can only be reached by<br> 
				foot.  Here’s a link that can help<br> 
				you choose the perfect trail:
				<a href="http://www.sanluisobispovacations.com/things-to-do/hiking/">SLO Hiking</a>
				</p>
				</td>
				<td width=50px></td>
				<td>
				<p class="w-det-text">
				<b>Additional Activities</b><br>
				This includes biking, golfing, boat<br>
				cruises, rock climbing, ballooning,<br>
				and ATV’ing.  Day trips to Paso Robles,<br>
				Morro Bay, and Solvang are also offered.<br>
				<a href="http://www.sanluisobispovacations.com/things-to-do/">SLO Activity</a>
				</p>
				</td>

			</tr>

		</table>
		</center>
		<br><br>
{% endblock %}
