{% extends "headers.html" %}
{% block content %}
		<div>
			<img src="/static/images/venue.jpg" class="w-det-img">
		</div>
		<br>
		<div align="center">
			<h1>Directions</h1>
		</div>
		<div align="center">
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon
		<br><br>
		</div>
		<div>
			<center>
			<img src="http://cdn.shopify.com/s/files/1/0278/1529/products/CLDN-BRV-thumb_091_extents-CAN_1024x1024.jpg?v=1384093141" width=50%>
			</center><br><br>
		</div>
		<center>
		<table>
			<tr>
				<th>
				<h2 class="w_det">Planes</h2>
				</th>
				<th width=50px>
				</th>
				<th>
				<h2 class="w_det">Cars</h2>
				</th>
			</tr>
			<tr>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
				</td>
				<td></td>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
	
				</td>
			</tr>
		</table>
		</center><br><br>
		<div>
			<img src="/static/images/wheretostay.jpg" class="w-det-img">
		</div>
		<div align="center">
		<br><br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon
		<br><br>
		</div>
		<center>
		<table>
			<tr>
				<th>
				<h2 class="w_det">Madonna Inn</h2>
				</th>
				<th width=50px>
				</th>
				<th>
				<h2 class="w_det">Embasy Suites</h2>
				</th>
			</tr>
			<tr>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
				</td>
				<td></td>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
	
				</td>
			</tr>
		</table>
		</center>
		<br><br>
		<div>
			<img src="/static/images/whattodo.jpg" class="w-det-img">
		</div>
		<div align="center">
		<br><br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon<br>
		bacon bacon bacon bacon bacon
		<br><br>
		</div>
		<center>
		<table class="dets-body-tbl">
			<tr>
				<th>
			   	<h2 class="w_det">Eat & Drink</h2>	
				</th>
				<th width=50px>
				</th>
				<th>
				<h2 class="w_det">Play</h2>
				</th>
				<th width=50px>
				</th>
				<th>
				<h2 class="w_det">Explore</h2>
				</th>

			</tr>
			<tr>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
				</td>
				<td></td>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
	
				</td>
				<td></td>
				<td>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
					bacon bacon bacon bacon bacon<br>
	
				</td>

			</tr>
		</table>
		</center>
		<br><br>
{% endblock %}
